body {
    background-color: hsl(217, 54%, 11%);
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family:'Outfit', sans-serif;
    overflow: hidden;
}

#container {
    display: flex;
    margin: 0 auto;
    width: 260px;
    background-color: hsl(216, 50%, 16%);
    padding: 20px;
    border-radius: 10px;
    flex-direction: column;
}

.eth {
    width: 260px;
    height: 260px;
    border-radius: 5px;
    backface-visibility: hidden;
    opacity: 1;
    display: block;
    transition: .5s ease;
    position: relative;
}

#yo {
    background-color: hsl(178, 100%, 50%);
    transition: .5s ease;
    width: 260px;
    height: 260px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

.eth:hover {
    opacity: 0.5;
}

#text-1 h3 {
    color: hsl(0, 0%, 100%);
    letter-spacing: 1px;
    transition: .5s ease;
    text-align: left;
}

#text-1 h3:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

#text-1 p {
    color: hsl(215, 51%, 70%);
    font-weight: 300;
}

.left {
    color: hsl(178, 100%, 50%);
    float:left;
}

.right {
    float: right;
    color: hsl(215, 51%, 70%);
    font-weight: 400;
}

#text-2 svg {
    margin-right: 5px;
    position: relative;
    top: 50%;
    transform: translateY(20%);
}

#author {
    border-top: 1px solid hsl(215, 32%, 27%);
    display: flex;
    align-items: center;
}

.avatar {
    width: 30px;
    height: 30px;
    border: 1.5px solid white;
    border-radius: 20px;
    margin-top: 2vh;

}

.bio {
    position: relative;
    top: 50%;
    transform: translateY(30%);
    margin-left: 1rem;
    color: hsl(215, 51%, 70%);
}

.bio a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    transition: 0.5s ease;
}

.bio a:hover {
    color: hsl(178, 100%, 50%);
}
